*{
    font-family: 'Nunito',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: all .2s linear;
    box-sizing: border-box;
}

*::selection{
    background:var();
    color:aliceblue;

}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}


.btn{
    display:inline-block;
    margin-top:2rem;
    margin-left:1rem;
    background:#f7bd00;
    color:#fff;
    border: 1.2rem solid #f7bd00;
    cursor:pointer;
    font-size: 3.0rem;
    border-radius: 1.5rem;

}
.btn:hover{
    background:#f7bd00;
    color:#fff;

}
header{
    position: fixed;
    top:0;
    left:0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color:#f7f200;
}

header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin:0  1.8rem;
}

header .navbar a:hover{
    color: #f7f200;
    font-size:2.5rem;
}



.video-background{
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:-1;
}
#bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home
{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;
    position:relative;
    z-index: 0;

}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-shadow:0 .3rem .5rem rgba(0,0,0,.3);
    text-transform: uppercase;

}

.home .content h2{
    font-size: 4.5rem;
    color: #fff;
    text-shadow:0 .3rem .5rem rgba(0,0,0,.3);
    text-transform: uppercase;
    margin-top: 15%;
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.Image-set{
    width: 100%;
    height: 100%;
    background:linear-gradient(#000000,#a34c05); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    

}

img{
    width: 48%;
    height: 50%;
    background:linear-gradient(#000000,#a34c05); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1%;
}